<h2>Map</h2>
<input auto-complete [(ngModel)]="selected" [source]="onModelSource.bind(this)" (valueChanged)="onValueChanged($event)" list-formatter="place_name" placeholder="Search..."/>
<div id="map"></div>
<!--<mapbox [center]="[4.8951680, 52.3702160]" [style]="'mapbox://styles/mapbox/dark-v9'" accesskey="9.25">
  <mapbox-marker *ngFor="let marker of map.markers"
                 flyTo="16"
                 [image]="marker.image"
                 [coordinates]="marker.coordinates"
                 [popup]="marker.popup"
                 [data]="marker.data"
                 (click)="markerClicked($event)">
  </mapbox-marker>
</mapbox>-->
