vendor/
cache/
log/
settings.php
*.api.phpproj.user
node_modules/
dist
docs_generated
app/**/*.js
app/**/*.map
app/**/*.ngfactory.js
.tmp
test-built
npm-debug.log
*.ngfactory.ts
coverage/
.idea/
bin
obj/
*.user
.vs/
Visual Studio 2015
*.csproj
*.config
ChromeDebugger-UserData/
