<ActionBar [title]="'ABOUT'" class="action-bar">
  <NavigationButton [text]="'HOME'"></NavigationButton>
</ActionBar>

<ScrollView>
  <StackLayout class="p-20">
    <lang-switcher></lang-switcher>
    <Label text="Angular Seed Advanced is a starter project that implements best practices in coding, building and testing Angular 2 apps. Additionally it adds various enhancements and integrations for large global projects." textWrap="true" class="h4"></Label>
    <StackLayout width="300">
      <TextField hint="Search...(min. 4 chars)" (propertyChange)="onChange($event)"></TextField>
    </StackLayout>
    <GridLayout rows="*">
      <ListView [items]="model" itemTap="itemTap">
        <ng-template let-item="item" let-i="index" let-third="third">
          <StackLayout [class.third]="third">
            <Label [text]='"index: " + i'></Label>
          </StackLayout>
        </ng-template>
      </ListView>
    </GridLayout>
    <ContentView>
      <map:Mapbox></map:Mapbox>
    </ContentView>
  </StackLayout>
</ScrollView>
