<div class="mdl-card-full-with mdl-card mdl-shadow--2dp">
    <sebm-google-map [latitude]="lat"
                     [longitude]="lng"
                     [zoom]="zoom"
                     [disableDefaultUI]="false"
                     [zoomControl]="false"
                     (mapClick)="mapClicked($event)">

        <sebm-google-map-marker *ngFor="let m of points; let i = index"
                                (markerClick)="clickedMarker(m.countryName, i)"
                                [latitude]="m.latitude"
                                [longitude]="m.longitude"
                                [label]="m.user.username"
                                [markerDraggable]="false"
                                (dragEnd)="markerDragEnd(m, $event)">

            <sebm-google-map-info-window [isOpen]="false">
                <div class="card">
                    <div class="card-image">
                        <img *ngIf="m.user.logo && m.user.logo!=null" [attr.src]="m.user.logo">
                        <span class="card-title" [innerHTML]="m.user.username"></span>
                    </div>
                    <div class="card-content">
                        <p [innerHTML]="m.user.about"></p>
                    </div>
                    <div class="card-action">
                        <a *ngIf="m.user.website && m.user.website!=null" target="_blank" [attr.href]="m.user.website" [innerHTML]="m.user.username"></a>
                    </div>
                </div>
            </sebm-google-map-info-window>

        </sebm-google-map-marker>

        <sebm-google-map-circle [latitude]="lat + 0.3" [longitude]="lng"
                                [radius]="5000"
                                [fillColor]="'red'"
                                [circleDraggable]="true"
                                [editable]="true">
        </sebm-google-map-circle>
    </sebm-google-map>
</div>