<StackLayout>
  <TextField #typeAheadInput [hint]="placeholder | translate" (propertyChange)="onMyReactiveInputChanged($event)" keyups(keydown.ArrowDown)="onKeyDownArrow('down')"></TextField>
  <StackLayout class="typeahead" *ngIf="typeAheadShown">
    <ListView tabindex="-1" #typeAheadList [items]="typeAheadSource | async" (itemTap)="onItemTap($event)" class="list-group">
      <ng-template let-item="item" let-i="index" let-odd="odd" let-even="even">
        <StackLayout [class.odd]="odd" [class.even]="even" class="list-group-item">
          <GridLayout>
            <Label [id]="item.key" [center]="item.center" [text]="item.value" class="label-item"></Label>
          </GridLayout>
        </StackLayout>
      </ng-template>
    </ListView>
  </StackLayout>
</StackLayout>