@import 'common';
@import '~nativescript-theme-core/scss/platforms/index.android';

// Place any CSS rules you want to apply only on Android here
.list-group {
    color: black;

    .list-group-item {
        padding: 10 10 10 10;
        font-size: 16;
        color: #444;

        .h2 {
            margin: 0;
            margin: 0;
            font-size: 20;
        }

        .p {
            font-size: 14;
            color: #666;
            margin: 0;
        }

        &.odd {
            background-color: #efefef;
        }

        &.even {
            background-color: #fff;
        }
    }
}