# Logs
*.log
log/

# ignore configs
config/environments/parameters.development.yaml
config/environments/parameters.test.yaml
config/environments/parameters.production.yaml

# ignore documentation
docs_generated

#Api Vendors
vendor/

#Api Cache
cache/

#Api Settings
settings.php