# Logs
*.log
log/

# ignore configs
config/environments/config_dev.yaml
config/environments/config_test.yaml
config/environments/config_live.yaml

# ignore documentation
docs_generated

#Api Vendors
vendor/

#Api Cache
cache/

#Api Settings
settings.php