# Logs
*.log
log/

# ignore configs
config/environments/environment-dev.yaml
config/environments/environment-test.yaml
config/environments/environment-live.yaml

# ignore documentation
docs_generated

#Api Vendors
vendor/

#Api Cache
cache/

#Api Settings
settings.php