:host {
  #map {
    position: relative;
    height: 100vh;
    width: 100%;
  }
}

a.link {
  color: #00e;
  cursor: pointer;
  text-decoration: underline;
}

#map {
  position: relative;
  height: 100vh;
  width: 100%;

  .ngui-auto-complete-wrapper {
    position: relative;
    width: 100%;

    .auto-complete-input {
      width: 100%;
    }

    .ngui-auto-complete {
      width: 100%;

      ul {
        width: 100%;

        .item {
          width: 100%;

          &.selected {
          }
        }
      }
    }
  }
}
